.header{
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    color:white;
    text-align: center;
    font-size: 60px;
}
.fom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}