.header{
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    color:white;
    text-align: center;
    font-size: 60px;
}
.fom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(95, 27, 6);
    width:400px;
    padding-left: 100px;
}
#frm{
    padding-left: 400px;  
}
#fo1,#fo2,#fo3,#fo4,#fo5,#fo6,#fo{
    padding: 10px;
    font-size: 20px;
    color:white;
}
option{
    width: 500px;
}
body{
    background-color: rgb(166, 166, 187);
}
h3{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
.col-md-4{
    text-align: center;
}
#imog{
    
    padding-left: 40px;
    padding-right: 40px;
}
#sec{
    text-align: center;
}